body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url(./space.jpeg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

@-webkit-keyframes danceTechno {
  0%{
    /* transform: scaleY(400px) */
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100%{
  transform: rotate(-90deg);
  left: 50px;
  }

}

@-webkit-keyframes grandMaDance {
  0% {
    top: 0px;
    transform: rotate(30deg)
  }
  50% {
    top: 90px;
    transform: rotate(-30deg)
  }
  100% {
    top: 30px;
  }
}


.Cat {
  -webkit-animation: danceTechno 2s infinite alternate;
   width: 160px;
   height: 160px;
  background-image: url(./kitty.png);
  animation-name: danceTechno;
  position:absolute;
}

.cabbage {
  width: 130px;
  height: 200px;
  background-image: url(./grandma.gif);
  animation: grandMaDance 1s infinite;
  position: absolute;
}